
<div class="card">
    <p-menubar [model]="items">
        <ng-template pTemplate="start">
            <img src="assets/images/logo.jpg" height="40" class="mr-2" />
        </ng-template>
        <app-search></app-search>
       

    </p-menubar>
</div>




<!-----------<header>


    <div class="container">
      <a routerLink="/"   class="logo"> Food Mine  </a>
    
    <nav>
        <ul>
            <li>
                <a routerLink="/login"   class="login"> Login  </a>
            </li>
           
            <li  class="menu-container">
                <a routerLink="/Dashbord"   > User  </a>

                <div class="menu">
                    <a routerLink="/profil"   > Profile  </a>
                    <a routerLink="/orders"  > Orders  </a>
                    <a> Logout  </a>
                </div>

            </li>
            <li>
                <a routerLink="[/cart-page" [state]="{tracingId: 123}" > Cart <span>3</span></a>
            </li>
            
        </ul>
    </nav>

    </div>
</header>---->




