.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   /* list-style-type: none;*/
    padding: 0%;
    margin-top: 40px;
}
.item{
    margin: 10px;
}
img{
    height: 300px;
   
    align-items: center;
}
p-tag {
    margin-LEFT: 95PX;}
